 @import "tailwindcss";

 body {
  @apply bg-[#0B1120] text-white;
}
  
@keyframes fade {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade {
  animation: fade 0.7s ease forwards;
}
